@using WebUI.HtmlHelpers
@using WebUI.Models
@model GameListViewModel

@{
    ViewBag.Title = "Товары";
}

<h2>List</h2>
@foreach (var x in @Model.Games)
            {
                <div>
                    <h3>@x.Name</h3>
                    <p>@x.Description</p>
                    <h4>@x.Price.ToString("# руб")</h4>
                </div>
            }

<div>
    @Html.PageLinks(Model.PagingInfo,x=> Url.Action("List", new {Page = x}))
</div>